.cim{
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    border: solid;
    border-color: grey;
    border-radius: 10px;  
}
body{
    background-color: lightgray;
}