body{
    background-color: lightgray;
}

.gombok{
    text-decoration: none; color: black; font-size: 30px; font-family: 'Courier New', Courier, monospace; margin-left: 15px;
}

.gombok2{
    text-decoration: none; color: black; font-size: 30px; font-family: 'Courier New', Courier, monospace; margin-left: 40px;
}